.section-footer {
    border: none;

    .section-inner {
        padding-top: $padding-vertical-sm;
        padding-bottom: $padding-vertical-sm;
    }
}

.copyright {
    @include quicksand;
    font-size: $fz-sm;
    font-weight: $fw-medium;
    margin-top: $base * 10;
    color: #AEB8D0;
    margin-left: $base * 16;
}