.section-header {
    .section-inner {
        padding-top: $padding-vertical-xs;
        padding-bottom: $padding-vertical-xs;
    }
}

.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    background-color: $color-secondary;
    width: $base * 6;
    height: $base * 6;
    border-radius: 100%;
}

.nav-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    &__item {
        &-link {
            margin-left: $base * 10;

            text-decoration: none;
            font-size: $fz-sm;
            @include quicksand;
            color: $color-primary;
            font-weight: $fw-medium;
            transition: $transition;

            &:hover {
                color: $color-secondary;
            }

            &--active {
                font-weight: $fw-bold;
                color: $color-secondary;
            }
        }
    }
}

.socials {
    margin-left: auto;

    &-wrapper {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        &__item {
            path {
                fill: $color-primary;
                transition: $transition;

                &:hover {
                    fill: $color-secondary;
                }
            }

            &-link {
                margin-left: $base * 10;
                text-decoration: none;

            }
        }
    }
}

.btn-wrapper {
    margin-left: $base* 11;
}