.section-hero-image {
    background-color: #f4f7ff;
}

.slider-hero-image {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        height: $base* 140;
        background-size: cover;
        background-position: center;
        text-align: center;

        &-content {
            
        }
    }
}