@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// Mixins
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

// Variables
$base: 4px;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fz-sm: 12px;
$fz-md: 15px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$color-divider: #d8e3fe;
$transition: .33s;

$color-primary: #697CA6;
$color-secondary: #6188FF;


@import '~normalize.css/normalize.css';
@import './base';
@import './media';
@import './fonts';

// Blocks
@import './blocks/header';
@import './blocks/hero-image';
@import './blocks/stats';
@import './blocks/blog';
@import './blocks/footer';
@import './blocks/get-started';
@import './blocks/hero-image';
@import './blocks/newsletter';
@import './blocks/quotes';
@import './blocks/stats';




