@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

// Mixins
@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
  font-family: 'Quicksand', sans-serif;
}

// Variables
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$color-divider: #d8e3fe;



@import '~normalize.css/normalize.css';
@import './base';
@import './media';
@import './fonts';

// Blocks
@import './blocks/header';
@import './blocks/hero-image';
@import './blocks/stats';
@import './blocks/blog';
@import './blocks/footer';
@import './blocks/get-started';
@import './blocks/hero-image';
@import './blocks/newsletter';
@import './blocks/quotes';
@import './blocks/stats';




